@media (max-width: 620px) {
  .rememberCheck {
    width: 35%;
  }
}
@media (max-width: 480px) {
  .rememberCheck {
    width: 50%;
  }
}
@media (max-width: 300px) {
  .rememberCheck {
    width: 60%;
  }
}
